.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-dark--1);
  text-align: center;
  flex-direction: column;
}

.content {
  padding: 4rem 5rem;
}

.errorText {
  font-size: 3rem;
  color: #ff4f4f;
  font-weight: bold;
  animation: bounce 2s ease-in-out infinite;
}

.message {
  font-size: 2rem;
  color: var(--color-light--1);
}

.image {
  width: 80px;
  height: auto;
  margin-top: 4rem;
  animation: rotate 4s linear infinite;
}

.goHome {
  font-size: 1.4rem;
  color: var(--color-blue--1);
  text-decoration: none;
  margin: 4rem 3rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--color-light--2);
  border: 2px solid var(--color-blue--1);
}

.goHome:hover {
  background-color: var(--color-blue--1);
  color: var(--color-light--2);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
