.countryList {
  width: 100%;
  height: auto;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.5rem;
}

.countryList::-webkit-scrollbar {
  width: 12px;
}

.countryList::-webkit-scrollbar-track {
  background: var(--color-light--3);
  border-radius: 1rem;
}

.countryList::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    var(--color-blue--1),
    var(--color-purple--3)
  );
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.countryList::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue--1);
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
/* ⇢⇢⇢⇢⇢⇢⇢⇢⇢⇢⇢ Responsiveness ⇠⇠⇠⇠⇠⇠⇠⇠⇠⇠⇠ */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */

@media (max-width: 850px) {
  .countryList {
    padding-right: 0.5rem;
  }
}

@media (max-width: 750px) {
  .countryList {
    padding-right: 0;
  }
}
