.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

a.ctaLink:global(.active) {
  background-color: var(--color-purple--1);
}

.hamburgerIcon {
  display: none;
  position: fixed;
  top: 3rem;
  right: 3rem;
}

.navList {
  display: flex;
  gap: 2rem;
}

.navList.open {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-dark--1);
  text-align: center;
  padding: 2rem;
  flex-direction: column;
  z-index: 1000;
  gap: 6rem;
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@media (max-width: 700px) {
  .hamburgerIcon {
    display: block;
    cursor: pointer;
    z-index: 1001;
  }

  .nav ul {
    display: none;
  }

  .navList {
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--color-dark--1);
    text-align: center;
    padding: 2rem;
    flex-direction: column;
    gap: 6rem;
    z-index: 1000;
  }

  .navList.open {
    animation: slideIn 0.5s forwards;
  }

  .navList.closing {
    animation: slideOut 0.5s forwards;
  }
}
